@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto Slab", serif;;
}

.first-section {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-left,
.navbar-right {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 350px;
}

img {
    margin: 50px;
}

.p-first {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-first-section {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px #3882f6;
}